html {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: white;
}

body {
    background-image: url("images/bg.png");
    background-size: 10rem 10rem;
    background-repeat: no-repeat;
    background-position-y: top;
    background-position-x: 80%;
    color: black;
    margin: 0 auto;
    padding: 1rem;
    max-width: min(60rem,90%);
    border-left: #f0f0f0 1px solid;
    border-right: #f0f0f0 1px solid;
    line-height: 1.25;
}

body#index {
    background-image: none;
    background-color: white;
}

header {
    text-align: center;
}

.contents ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contents li {
    margin: 0 0 0 1rem;
}

.chapter li {
    margin-top: .1rem;
}

h2.menu-line {
    background-color: black;
    color: white;
}

table#command-index th {
    text-align: left;
}

h3.command {
    margin-bottom: 0;
    background-color: #f8f8f8;
    padding: .3rem .2rem;
    margin-left: -.2rem;
    font-size: inherit;
}

h3.command +p {
    margin-top: .2rem;
}

h3.command + h3.command {
    margin-top: .1rem;
}

a > h3 {
    display: inline-block;
    margin-bottom: 0;
}

ul.section h2 {
    margin-bottom: 0;
}

div#cover {
    text-align: center;
}
#cover img {
    width: 90%;
    height: auto;
    border: none;
}

code {
    display: block;
    font-family: monospace;
    white-space: pre;
    background-color: rgb(0,119,119);
    color: white;
    padding: .3rem;
}

code.cli {
    background-color: #ddd;
    color: black;
    margin-left: 2.75rem !important;
}

code > comment {
    opacity: 0.75;
    font-style: italic;
}

code.prefix {
    margin-left: 2rem;
    /*margin-top: -1rem;*/
    position: relative;
}

code.prefix::before {
    background: white;
    color: black;
    display: inline;
    font-family: monospace;
    font-weight: normal;
    position: absolute;
    left: -2rem;
    /*top: 1.4rem;*/
}

code.edit::before {
    content: "E>";
}

code.disc::before {
    content: "DP>";
}


code.direct::before {
    content: "D>";
}

code.ex::before {
    content: "X>";
}

code.cli::before {
    content: "CLI>";
    left: -2.75rem;
}

section h2 {
    margin-top: 4rem;
}

blockquote {
    margin-bottom: 3rem;
}

blockquote cite {
    text-align: right;
    display: block;
}

a:link {

    color: #0000bb;
    text-decoration: none;
}

a:visited {
    color: #0000bb;
}

a:hover {
    color: #0000ff;
    text-decoration: underline;
}

footer {
    margin-top: 3rem;
    text-align: center;
}

footer a[rel=prev] {
    float: left;
    margin-left: 0;
}

footer a[rel=next] {
    float: right;
    margin-right: 0;
}

footer a {
    margin: 0 .5rem;
}

th,td {
    padding: .2rem;
}

thead th {
    text-align: left;
}

tbody td {
    padding-right: 2rem;
}
