body {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 0 0 1rem;
}

h2.menu-line {
    background-color: black;
    color: white;
}

table#command-index th {
    text-align: left;
}